/*left side of page*/
.left-side {
  box-shadow: 6px 6px 3px rgba(214, 213, 213, 0.2);
  height: 100%;
  color: #212629 !important;
}

#location-btn {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #212629;
  margin-right: 3%;
}
#location-btn:hover {
  color: #212629;
}

#current-icon {
  padding: 15% 0 0 20%;
}

#current-text {
  font-size: 25px;
  padding: 30px 0;
  justify-content: center;
}

#description::first-letter {
  text-transform: capitalize;
}

ul {
  list-style: none;
  padding: 0;
}

/*for when I figure out how to pull the news*/
.news-icon {
  font-size: 75px;
}