/*applies to both sides of page*/
.light {
  color: #f2f2f1;
}

.dark {
  background: #212629 !important;
  border-radius: 5px;
  box-shadow: 1px 6px 5px rgba(33, 38, 41, 0.35);
  color: #f2f2f1;
  margin-bottom: 3%;
}

hr {
  border: 0.25px solid #e5e5e5 !important;
}

.holder {
  background: rgb(33, 38, 41);
  box-shadow: 1px 6px 5px rgba(33, 38, 41, 0.8);
  margin: 5%;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.low-over-high {
  position: relative;
  bottom: 40%;
}

.high {
  position: relative;
  top: 15px;
}

/*left side of page*/
.left-side {
  box-shadow: 6px 6px 3px rgba(214, 213, 213, 0.2);
  height: 100%;
  color: #212629 !important;
}

#location-btn {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #212629;
  margin-right: 3%;
}
#location-btn:hover {
  color: #212629;
}

#current-icon {
  padding: 15% 0 0 20%;
}

#current-text {
  font-size: 25px;
  padding: 30px 0;
  justify-content: center;
}

#current-temp {
  font-size: 75px;
  font-weight: 900;
}

#unit-btn {
  font-size: 50px;
  font-weight: 900;
  color: #212629;
  text-decoration: none;
  margin: -15px 20px 0 -25px;
  padding: 0;
}

#description::first-letter {
  text-transform: capitalize;
}

ul {
  list-style: none;
  padding: 0;
}

.news-icon {
  font-size: 75px;
}

/*right side of page*/
.right-side {
  height: 100%;
}

#city-input {
  border: 1px solid #212629;
  border-radius: 5px;
  margin-bottom: 3%;
  width: 80%;
}

#search-btn {
  background: #212629;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(33, 38, 41, 0.35);
  color: #f2f2f1;
  font-size: 20px;
  padding: 11%;
  transform: all 200ms ease-in;
}
#search-btn:hover {
  background: #f2f2f1;
  border: 1px solid #212629;
  color: #212629;
}

.sourced {
  color: #ec6e4b !important;
  text-decoration: none;
}
.sourced:hover {
  color: #f2f2f1 !important;
  text-decoration: none;
}