.dark {
  background: rgba(83, 140, 179, 0.8) !important;
  border-radius: 5px;
}

hr {
  border: 0.25px solid #393939 !important;
}

.holder {
  margin: 5%;
}

.right {
  text-align: right;
}

#city-input {
  border: 1px solid #393939;
  border-radius: 5px;
  margin-bottom: 3%;
  width: 80%;
}

#search-btn {
  background: #276893;
  border: none;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 20px;
  padding: 7%;
  transform: all 200ms ease-in;
}
#search-btn:hover {
  background: none;
  border: 1px solid #276893;
  color: #276893;
}

.sourced {
  text-decoration: none;
  color: #276893;
}
.sourced:hover {
  text-decoration: none;
  color: #393939;
}
